{% if auth({opt["point"].list}) %}
<div id="{{opt['id']}}_wrap"  class="table-responsive">
<table id="{{opt['id']}}" class="table table-condensed table-hover m-b-none">
<tfoot><tr>{% raw opt['thTags'] %}</tr></tfoot>
</table>
</div>
<script type="text/javascript">
var {{opt["id"]}}_ = null;
function {{opt["id"]}}_actionbar_render(col,v,type,row){
    var action_btns = '<div style="width: 130px;">';
	action_btns += '<a class="btn-link" title="查看" onclick="{{opt["id"]}}_.RecordSetProvider.Modify(this,' + v + ');"><i class="icon-list-alt"></i></a>';
	if (typeof(datatable_render_actionbar) != "undefined") {
		action_btns += datatable_render_actionbar('{{opt["id"]}}', "id", v, row);
	}
	{% if auth({opt["point"].add}) %}
	action_btns += ' <a class="btn-link" title="添加" onclick="{{opt["id"]}}_.RecordSetProvider.New(this);"><i class="icon-plus"></i></a>';
	{% end %}
	{% if auth({opt["point"].update}) %}
	action_btns += ' <a class="btn-link" title="修改" onclick="{{opt["id"]}}_.RecordSetProvider.Modify(this,' + v + ');"><i class="icon-pencil"></i></a>';
	{% end %}
	{% if auth({opt["point"].delete}) %}
	action_btns += ' <a class="btn-link" title="删除" onclick="{{opt["id"]}}_.RecordSetProvider.Delete(this,' + v + ');"><i class="icon-remove"></i></a>';
	{% end %}
	return action_btns+"</div>";
}
$(document).ready(function () {
    $("#{{opt['id']}}_panel").hide();
	{{opt["id"]}}_ = new DataTableX('{{opt["id"]}}','{{opt["entity_name_md5"]}}',{% raw opt["col_defs"] %},{{opt["id"]}}_actionbar_render);
    {% if opt["toolbar_add"] %}
    {{opt["id"]}}_.is_add = true;
    {% else %}
    {{opt["id"]}}_.is_add = false;
    {% end %}
	{{opt["id"]}}_.Create();
});
</script>
{% if opt["autoform"] %}
<script id='{{ opt["id"] }}_EditFormTemplate' type="text/x-jsrender">
	{% for col in opt["cols"] %}
	<div class="form-group">
		<label for="{{ col["name"] }}" class="col-lg-3 control-label">{{ col["name"] }}</label>
		<div class="col-lg-8">
		  <input type="text" class="form-control {{col['type']}}" id="{{ col['name'] }}" name="{{ col['name'] }}" {% raw col["length"] %}  {{col["required"]}}>
		</div>
	</div>
	{% end %}
	</div>
</script>
{% end %}
{% end %}