{% extends "workbench/master.html" %}
{% block title %}投注{% end %}
{% block header %}
<script type="text/javascript">
    function datatable_render(id, k, v, row) {
        if (id == "BettingDataTable" && k == "fix") {
            if (v == true) {
                return "是";
            } else {
                return "否";
            }
        }
        return v;
    }
</script>
{% end %}
{% block workspace %}
<div class="clearfix">
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">投注</header>
            <div class="panel-body">
                {% module DataTable(id="BettingDataTable",
                entity="lottery.entity.Betting",
                cols=['seq','select_','reason','fix'],
                titles=['序号','选择','原因','稳胆'],
                search_fields="select_",
                form="BettingDataTable_EditFormTemplate"
                ) %}
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">期号</header>
            <div class="panel-body">
                {% module DataTable(id="ExpectDataTable",
                entity="lottery.entity.Expect",
                cols=['no'],
                titles=['期号'],
                search_fields="",
                form="ExpectDataTable_EditFormTemplate"
                ) %}
            </div>
        </section>
    </div>
</div>
<!--EditForms-->
<script id="BettingDataTable_EditFormTemplate" type="text/x-jsrender">
	<div class="form-group">
	<div class="col-lg-9 col-lg-offset-3">
	<input type="button" class="btn btn-white btn-sm " id="BettingDataTable_form_return"  onclick="BettingDataTable_.form.cancel(this);" value="返回"/>
	</div>
	</div>

	<div class="form-group">
		<label for="seq" class="col-lg-3 control-label">序号</label>
		<div class="col-lg-8">
		  <input type="text" class="form-control" id="seq" name="seq" required digits>
		</div>
	</div>

	<div class="form-group">
		<label for="select_" class="col-lg-3 control-label">选择</label>
		<div class="col-lg-8">
		  <input type="text" class="form-control" id="select_" name="select_" required >
		</div>
	</div>

	<div class="form-group">
		<label for="reason" class="col-lg-3 control-label">原因</label>
		<div class="col-lg-8">
          <textarea class="form-control" id="reason" name="reason"></textarea>
		</div>
	</div>

	<div class="form-group">
		<label for="fix" class="col-lg-3 control-label">稳胆</label>
		<div class="col-lg-8">
		  <input type="text" class="form-control" id="fix" name="fix"  digits>
		</div>
	</div>

	<div class="form-group">
		<label for="expect_id" class="col-lg-3 control-label">期号</label>
		<div class="col-lg-8">
		  {% module DataComboBox(id="expect_id",entity="lottery.entity.Expect",cols="no,no") %}
		</div>
	</div>

	<div class="form-group">
	<div class="col-lg-9 col-lg-offset-3">
		<input type="button" class="btn btn-primary btn-sm" id="BettingDataTable_form_save" onclick="BettingDataTable_.form.save(this,'');" value="保存"></button>
		<input type="button" class="btn btn-white btn-sm" id="BettingDataTable_form_save_continue" onclick="BettingDataTable_.form.save(this,'clear');" value="保存并继续"></button>
		<input type="button" class="btn btn-white btn-sm" id="BettingDataTable_form_reset" onclick="BettingDataTable_.form.reset(this);" value="重填"></button>
	</div>
	<div class="col-lg-10"></div>
	</div>
</script>
<script id="ExpectDataTable_EditFormTemplate" type="text/x-jsrender">
	<div class="form-group">
	<div class="col-lg-9 col-lg-offset-3">
	<input type="button" class="btn btn-white btn-sm " id="ExpectDataTable_form_return"  onclick="ExpectDataTable_.form.cancel(this);" value="返回"/>
	</div>
	</div>

	<div class="form-group">
		<label for="no" class="col-lg-3 control-label">期号</label>
		<div class="col-lg-8">
		  <input type="text" class="form-control" id="no" name="no" required digits>
		</div>
	</div>

	<div class="form-group">
	<div class="col-lg-9 col-lg-offset-3">
		<input type="button" class="btn btn-primary btn-sm" id="ExpectDataTable_form_save" onclick="ExpectDataTable_.form.save(this,'');" value="保存"></button>
		<input type="button" class="btn btn-white btn-sm" id="ExpectDataTable_form_save_continue" onclick="ExpectDataTable_.form.save(this,'clear');" value="保存并继续"></button>
		<input type="button" class="btn btn-white btn-sm" id="ExpectDataTable_form_reset" onclick="ExpectDataTable_.form.reset(this);" value="重填"></button>
	</div>
	<div class="col-lg-10"></div>
	</div>
</script>
{% end %}