{% extends "master.html" %}
{% block title %}系统分类{% end %}
{% block header %}
{% end %}
{% block workspace %}
    <section class="main padder">
        <div class="clearfix">
            <h4><i class="icon-tags"></i>系统分类</h4>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-heading">分类编辑</div>
                    <div class="panel-body">
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail" style="border: 0px;">
                                <section class="panel">
                                    <header class="panel-heading">学历</header>
                                    <div class="panel-body">
                                        {% module OrgTree(id="EducationalBackgroundTreeView",taxonomy="EducationalBackground",account_id=current_user,placeholder="学历",
                                        point_list = "tinyms.view.termtaxonomy.list",
                                        point_add = "tinyms.view.termtaxonomy.add",
                                        point_update = "tinyms.view.termtaxonomy.update",
                                        point_delete = "tinyms.view.termtaxonomy.delete"
                                        ) %}
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail" style="border: 0px;">
                                <section class="panel">
                                    <header class="panel-heading">政治面貌</header>
                                    <div class="panel-body">
                                        {% module OrgTree(id="PoliticalLandscapeTreeView",taxonomy="PoliticalLandscape",account_id=current_user,placeholder="政治面貌",
                                        point_list = "tinyms.view.termtaxonomy.list",
                                        point_add = "tinyms.view.termtaxonomy.add",
                                        point_update = "tinyms.view.termtaxonomy.update",
                                        point_delete = "tinyms.view.termtaxonomy.delete"
                                        ) %}
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail" style="border: 0px;">
                                <section class="panel">
                                    <header class="panel-heading">婚姻状况</header>
                                    <div class="panel-body">
                                        {% module OrgTree(id="MaritalStatusTreeView",taxonomy="MaritalStatus",account_id=current_user,placeholder="婚姻状况",
                                        point_list = "tinyms.view.termtaxonomy.list",
                                        point_add = "tinyms.view.termtaxonomy.add",
                                        point_update = "tinyms.view.termtaxonomy.update",
                                        point_delete = "tinyms.view.termtaxonomy.delete"
                                        ) %}
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% end %}