<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% end %} - ArchiveX Workbench</title>
    <meta name="description" content="ArchiveX web framwork">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="{{ static_url('jslib/tinyms.common.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jslib/tip/toastr.min.js') }}"></script>
    <link rel="stylesheet" href="{{ static_url('theme/v.3.2.1/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static_url('theme/v.3.2.1/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('theme/v.3.2.1/css/style.css') }}">
    <link rel="stylesheet" href="{{ static_url('theme/v.3.2.1/css/plugin.css') }}">
    <link rel="stylesheet" href="{{ static_url('theme/v.3.2.1/css/landing.css') }}">
    <link rel="stylesheet" href="{{ static_url('jslib/tip/toastr.min.css') }}">
    <!--[if lt IE 9]>
    <script src="{{ static_url('theme/v.3.2.1/js/ie/respond.min.js') }}"></script>
    <script src="{{ static_url('theme/v.3.2.1/js/ie/html5.js') }}"></script>
    <script src="{{ static_url('theme/v.3.2.1/js/ie/excanvas.js') }}"></script>
    <![endif]-->
    {% block header %}{% end %}
    <style>
        body {
            font-family: '微软雅黑', Verdana, sans-serif, '宋体';
        }
    </style>
</head>
<body>
<!-- header -->
<header id="header" class="navbar bg bg-black">
    <ul class="nav navbar-nav navbar-avatar pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs-only">{% module CurrentAccountName() %}</span>
                <span class="thumb-small avatar inline"><img src="{{ static_url('theme/v.3.2.1/images/avatar.jpg') }}" alt="Mika Sokeil"
                                                             class="img-circle"></span>
                <b class="caret hidden-xs-only"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">设置</a></li>
                <li><a href="#">个人资料</a></li>
                <li><a href="#"><span class="badge bg-danger pull-right">3</span>提醒</a></li>
                <li class="divider"></li>
                <li><a href="docs.html">帮助</a></li>
                <li><a href="/logout">退出</a></li>
            </ul>
        </li>
    </ul>
    <a class="navbar-brand" href="#">ArchX</a>
    <button type="button" class="btn btn-link pull-left nav-toggle visible-xs"
            data-toggle="class:slide-nav slide-nav-left" data-target="body">
        <i class="icon-reorder icon-xlarge text-default"></i>
    </button>
    <ul class="nav navbar-nav hidden-xs">
        <li>
            <div class="m-t m-b-small" id="panel-notifications">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                        class="icon-comment-alt icon-xlarge text-default"></i><b
                        class="badge badge-notes bg-danger count-n">2</b></a>
                <section class="dropdown-menu m-l-small m-t-mini">
                    <section class="panel panel-large arrow arrow-top">
                        <header class="panel-heading bg-white"><span class="h5"><strong>You have <span
                                class="count-n">2</span> notifications</strong></span></header>
                        <div class="list-group">
                            <a href="#" class="media list-group-item">
                                <span class="pull-left thumb-small"><img src="{{ static_url('theme/v.3.2.1/images/avatar.jpg') }}" alt="John said"
                                                                         class="img-circle"></span>
                  <span class="media-body block m-b-none">
                    Moved to Bootstrap 3.0<br>
                    <small class="text-muted">23 June 13</small>
                  </span>
                            </a>
                            <a href="#" class="media list-group-item">
                  <span class="media-body block m-b-none">
                    first v.1 (Bootstrap 2.3 based) released<br>
                    <small class="text-muted">19 June 13</small>
                  </span>
                            </a>
                        </div>
                        <footer class="panel-footer text-small">
                            <a href="#" class="pull-right"><i class="icon-cog"></i></a>
                            <a href="#">See all the notifications</a>
                        </footer>
                    </section>
                </section>
            </div>
        </li>
        <li>
            <div class="m-t-small"><a class="btn btn-sm btn-info" data-toggle="modal" href="#modal"><i
                    class="icon-plus"></i> 撰写文章</a></div>
        </li>
        <li class="dropdown shift" data-toggle="shift:appendTo" data-target=".nav-primary .nav">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i
                    class="icon-cog icon-xlarge visible-xs visible-xs-inline"></i>设置 <b
                    class="caret hidden-sm-only"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" data-toggle="class:navbar-fixed" data-target='body'>Navbar
                        <span class="text-active">auto</span>
                        <span class="text">fixed</span>
                    </a>
                </li>
                <li class="hidden-xs">
                    <a href="#" data-toggle="class:nav-vertical" data-target="#nav">Nav
                        <span class="text-active">vertical</span>
                        <span class="text">horizontal</span>
                    </a>
                </li>
                <li class="divider hidden-xs"></li>
                <li class="dropdown-header">Colors</li>
                <li>
                    <a href="#" data-toggle="class:bg bg-black" data-target='.navbar'>Navbar
                        <span class="text-active">white</span>
                        <span class="text">inverse</span>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="class:bg-light" data-target='#nav'>Nav
                        <span class="text-active">inverse</span>
                        <span class="text">light</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <form class="navbar-form pull-left shift" action="" data-toggle="shift:appendTo" data-target=".nav-primary">
        <i class="icon-search text-muted"></i>
        <input type="text" class="input-sm form-control" placeholder="搜索">
    </form>
</header>
<!-- / header -->
{% module SideBar() %}
<section id="content">
<section class="main padder">
{% block workspace %}{% end %}
</section>
</section>
<!-- footer -->
<footer id="footer">
    <div class="text-center padder clearfix">
        <p>
            <small>{% module Version() %}</small>
        </p>
    </div>
</footer>
<a href="#" class="hide slide-nav-block" data-toggle="class:slide-nav slide-nav-left" data-target="body"></a>
<!-- / footer -->
<!-- Bootstrap -->
<script src="{{ static_url('theme/v.3.2.1/js/bootstrap.js') }}"></script>
<!-- app -->
<script src="{{ static_url('theme/v.3.2.1/js/app.js') }}"></script>
<script src="{{ static_url('theme/v.3.2.1/js/app.plugin.js') }}"></script>
<script src="{{ static_url('theme/v.3.2.1/js/app.data.js') }}"></script>
{% block footer %}{% end %}
</body>
</html>