{% extends "master.html" %}
{% block title %}角色组织{% end %}
{% block header %}
<script type="text/javascript" src="/ajax/RoleSecurityPointsAssign.js"></script>
<script type="text/javascript">
    {% if auth({'tinyms.entity.role.points.view'}) %}
    function datatable_render_actionbar(id, col, val, row) {
        if (id == "RoleDataTable") {
            return ' <a class="btn-link" title="指定权限" onclick="assign_security_points(this,'+val+');"><i class="icon-key text-danger"></i></a>';
        }
        return "";
    }
    function assign_security_points(elem,role_id){
        var row = RoleDataTable_.GetRow(role_id);
        $("#role_name_to_assign").text(row.name);
        $("#RoleDataTable tr").removeAttr("style");
        $(elem).parent().parent().attr("style", "background-color:#99CC99;");
        $("#security_points_tab").data("RoleId",role_id);
        tinyms.controller.security.RoleSecurityPointsEdit.list({id:role_id},function(b,data){
            $("#security_points_edit_panel :checkbox").each(function(i,elem){
                $(elem).prop("checked",false)
            });
            $.each(data,function(i,v){
                $("#security_point_"+v).prop("checked",true);
            });
        });
    }
    {% end %}
    function check_or_uncheck(link, mode) {
        if ($(link).data("state") == undefined) {
            $(link).data("state", true);
        } else {
            if (!$(link).data("state")) {
                $(link).data("state", true);
            } else {
                $(link).data("state", false);
            }
        }
        var cks = undefined;
        if (mode == "sub") {
            cks = $(link).parent().parent().find(":checkbox");
        } else if (mode == "all") {
            cks = $(link).parent().parent().parent().find(":checkbox");
        }
        if (cks != undefined) {
            $.each(cks, function (k, elem) {
                if ($(link).data("state")) {
                    $(elem).prop("checked", true);
                } else {
                    $(elem).prop("checked", false);
                }
            });
        }
    }
    {% if auth({'tinyms.entity.role.points.update'}) %}
    function security_points_save(link) {
        var cks = $(link).parent().parent().parent().find(":checkbox");
        var items = [];
        $.each(cks,function(k,elem){
            if($(elem).prop("checked")){
                items.push($(elem).val());
            }
        });
        var params = {"id":$("#security_points_tab").data("RoleId"),"points":JSON.stringify(items)};
        tinyms.controller.security.RoleSecurityPointsEdit.save(params,function(b,data){
            var msg = data[0];
            if(msg=="Success"){
                toastr.success("保存成功!")
            }else{
                toastr.error("保存失败!")
            }
        });
    }
    {% end %}
    $(document).ready(function () {
        $('#role_org_tab a:first').tab('show');
        $('#security_points_tab a:first').tab('show');
    });
</script>
{% end %}
{% block workspace %}
<div class="clearfix">
    <h4><i class="icon-magic"></i>角色/组织</h4>
</div>
<div class="row">
    <div class="col-lg-12">
        <!-- right tab -->
        <section class="panel">
            <header class="panel-heading">
                <ul class="nav nav-tabs pull-right" id="role_org_tab">
                    {% if auth({'tinyms.entity.role.list'}) %}
                    <li class="active"><a href="#profile-1" data-toggle="tab"><i
                            class="icon-user icon-large text-default"></i>角色</a>
                    </li>
                    {% end %}
                    <li><a href="#settings-1" data-toggle="tab"><i class="icon-sitemap icon-large text-default"></i>组织/部门</a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">
                    {% if auth({'tinyms.entity.role.list'}) %}
                    <div class="tab-pane active" id="profile-1">
                        <div>
                            {% module DataTable(id="RoleDataTable",
                            entity="tinyms.core.entity.Role",
                            cols=['name','description'],
                            titles=['名称','说明'],
                            search_fields="name",
                            form="RoleDataTable_EditFormTemplate",
                            point_list = "tinyms.entity.role.list",
                            point_add = "tinyms.entity.role.add",
                            point_update = "tinyms.entity.role.update",
                            point_delete = "tinyms.entity.role.delete"
                            ) %}
                        </div>
                    </div>
                    {% end %}
                    <div class="tab-pane" id="settings-1">组织/部门</div>
                </div>
            </div>
        </section>
        <!-- / right tab -->
        <!-- left tab -->
        <section class="panel">
            <header class="panel-heading text-left">
                <ul class="nav nav-tabs pull-right" id="security_points_tab">
                    {% for cat in data["categories"] %}
                    <li><a href="#points_group_{{ cat[2] }}" data-toggle="tab">{{ cat[0] }}</a></li>
                    {% end %}
                </ul>
                <span class="hidden-sm"><a class="btn-link" onclick="check_or_uncheck(this,'all');">全选/反选</a> {% if auth({'tinyms.entity.role.points.update'}) %} <a
                        class="btn-link" onclick="security_points_save(this);"><i class="icon-save"></i>保存</a>
                    <small><em>( 给`<span class="text-danger" id="role_name_to_assign">角色</span>`指定权限 )</em></small> {% end %}
                </span>
            </header>
            {% if auth({'tinyms.entity.role.points.view'}) %}
            <div class="panel-body" id="security_points_edit_panel">
                <div class="tab-content">
                    {% for cat in data["categories"] %}
                    <div class="tab-pane fade" id="points_group_{{ cat[2] }}">
                        <div class="row">
                            {% for g in cat[1] %}
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail" style="border: 0px;">
                                    <section class="panel">
                                        <header class="panel-heading">{{ g[0] }}
                                            <a class="pull-right btn-link"
                                               onclick="check_or_uncheck(this,'sub');">全选/反选</a>
                                        </header>
                                        <ul class="list-group">
                                            {% for p in g[1] %}
                                            <li class="list-group-item">
                                                <input type="checkbox" datakey="{{ p.key_ }}" value="{{ p.id }}"
                                                       id="security_point_{{ p.id }}"/> {{ p.description }}
                                            </li>
                                            {% end %}
                                        </ul>
                                    </section>
                                </div>
                            </div>
                            {% end %}
                        </div>
                    </div>
                    {% end %}
                </div>
            </div>
            {% end %}
        </section>
        <!-- / left tab -->
    </div>
</div>
<script id="RoleDataTable_EditFormTemplate" type="text/x-jsrender">
	<div class="form-group">
	<div class="col-lg-9 col-lg-offset-3">
	<input type="button" class="btn btn-white btn-sm " id="RoleDataTable_form_return"  onclick="RoleDataTable_.form.cancel(this);" value="返回"></input>
	</div>
	</div>

	<div class="form-group">
		<label for="name" class="col-lg-3 control-label">名称</label>
		<div class="col-lg-8">
		  <input type="text" class="form-control" id="name" name="name" required >
		</div>
	</div>

	<div class="form-group">
		<label for="description" class="col-lg-3 control-label">说明/备注</label>
		<div class="col-lg-8">
		  <input type="text" class="form-control" id="description" name="description"  >
		</div>
	</div>

	<div class="form-group">
	<div class="col-lg-9 col-lg-offset-3">
		<input type="button" class="btn btn-primary btn-sm" id="RoleDataTable_form_save" onclick="RoleDataTable_.form.save(this,'');" value="保存"></button>
		<input type="button" class="btn btn-white btn-sm" id="RoleDataTable_form_save_continue" onclick="RoleDataTable_.form.save(this,'clear');" value="保存并继续"></button>
		<input type="button" class="btn btn-white btn-sm" id="RoleDataTable_form_reset" onclick="RoleDataTable_.form.reset(this);" value="重填"></button>
	</div>
	<div class="col-lg-10"></div>
	</div>
</script>
{% end %}