{% extends "master.html" %}
{% block title %}设置{% end %}
{% block header %}
        <script type="text/javascript">

        </script>
{% end %}
{% block workspace %}
<ul class="nav nav-tabs" style="margin-top:12px;">
    <li class="active"><a href="#Archives_Base" data-toggle="tab">基本资料</a></li>
    <li><a href="#Archives_WorkExperience" data-toggle="tab">工作经历</a></li>
    <li><a href="#Archives_LearningExperience" data-toggle="tab">学习经历</a></li>
    <li><a href="#GlobalSetting" data-toggle="tab">培训经历</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="Archives_Base"></div>
</div>
{% end %}