<!-- nav -->
<nav id="nav" class="nav-primary hidden-xs nav-vertical">
    <ul class="nav" data-spy="affix" data-offset-top="50">
        <li class="active"><a href="/workbench/dashboard"><i class="icon-dashboard icon-xlarge"></i><span>控制面板</span></a>
        </li>
        {% raw context["menu"] %}
        {% if context["archives_show"] %}
        <li><a href="/workbench/archives"><i class="icon-book icon-xlarge"></i><span>人员档案</span></a></li>
        {% end %}
        {% if context["role_org_show"] %}
        <li><a href="/workbench/security"><i class="icon-group icon-xlarge"></i><span>角色组织</span></a></li>
        {% end %}
        {% if auth({'tinyms.sidebar.sys_categories.show'}) %}
        <li><a href="/workbench/categories"><i class="icon-tags icon-xlarge"></i><span>系统分类</span></a></li>
        {% end %}
        {% if context["sys_params_show"] %}
        <li class="dropdown-submenu">
            <a href="/workbench/config"><i class="icon-gears icon-xlarge"></i><span>系统参数</span></a>
            <ul class="dropdown-menu">
                <li><a href="mail.html">Mail</a></li>
                <li><a href="calendar.html">Fullcalendar</a></li>
                <li><a href="timeline.html">Timeline</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="signin.html">Signin page</a></li>
                <li><a href="signup.html">Signup page</a></li>
                <li><a href="404.html">404 page</a></li>
            </ul>
        </li>
        {% end %}
    </ul>
</nav>
<!-- / nav -->